@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100;400&display=swap');
.carouselContainer {
  /* position: absolute; */
  /* margin-left: 20px;
  margin-right: 20px; */
  /* width: 390px; */
  margin-top: 30px;
  margin-bottom: auto;
}

.carouselContainer h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  /* identical to box height, or 106% */

  letter-spacing: -0.0008em;

  margin-bottom: 7px;

  color: #4d3c33;
}

.carouselContainer h3 {
  font-family: 'Roboto', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  /* or 115% */

  text-align: center;
  letter-spacing: -0.0008em;

  margin-top: -15px;
  color: #4d3c33;

  /* padding-top: 5px; */
}
.carouselContainer p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 8px;
  /* identical to box height, or 68% */

  text-align: center;
  letter-spacing: -0.0008em;

  color: #4d3c33;
}

.carouselContainer img {
  margin-top: -20px;
  width: 127px;
  height: 172px;
}
