.container {
  background-color: red;
  width: 390px;
    height: 926px;
  padding: 52px 20px 0px 20px;
  width: 100%;
}
.cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
