.border {
  position: relative;
  width: 349px;
  height: 178px;
  left: 0px;
  top: 5px;
  margin-bottom: 18px;
  border-radius: 9px;
  background-image: url(../../assets/images/bem-vinde-img.png);
}

.text1 {
  position: absolute;
  width: 150px;
  height: 18px;
  left: 180px;
  top: 88px;
  font-family: "Inter", sans-serif;
  font-style: bold;
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.0008em;
  color: #fff8f8;
  backdrop-filter: blur(4px);
}

.text2 {
  position: absolute;
  width: 171px;
  height: 56px;
  left: 185px;
  top: 114px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.0008em;
  color: #fff8f8;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 349px;
  height: 178px;
  left: 0px;
  top: 74.61px;
  border-radius: 9px;
}
